.remove-button{
    background: white;
    width:2rem;
    height:1.5rem;
    border-radius:3px;
    border:1px solid black;
}

.remove-button:hover{
    background:black;
    color:white;
}

.note-text{
    width:30rem;
    height:3rem;

}