.Note {
  display: inline-block;
  margin: 20px 20px 20px 20px;
  width: 300px;
  height: 190px;
  background-attachment: local;
  background-image:
    linear-gradient(to right, #ffc90e 10px, transparent 10px),
    linear-gradient(to left, white 10px, transparent 10px),
    repeating-linear-gradient(white, white 29px, #ccc 29px, #ccc 30px, white 30px);
  line-height: 30px;
  padding: 5px 20px;
  font-family: sans-serif;
}

.update {
  background: blue;
  border: none;
  color: white;
  padding: 7px 20px 7px 20px;
  margin-left: 5px;
  margin-right: 5px;
}

.cancel {
  background: orange;
  border: none;
  color: white;
  padding: 7px 20px 7px 20px;
  margin-left: 5px;
  margin-right: 5px;
}

.delete {
  background: red;
  border: none;
  color: white;
  padding: 7px 20px 7px 20px;
  margin-left: 5px;
  margin-right: 5px;
}
