body{
  background: #e3fafc;
}


.notes-app{
  display:flex;
  flex-direction: column;
  align-items: center;
}

.buttons{
  display: flex;
  flex-direction: row;
}

.create-button{
  display: flex;
  width:10rem;
  height:3rem;
  border-radius: 5px;
  font-size:1.2rem;
  align-items: center;
  justify-content: center;
  border:0;
  background: #b197fc;
  color:white;
}

.create-button:hover{
  background: #9775fa;
}

.checked-remove-button{
  display:flex;
  width:7rem;
  height:2rem;
  border-radius: 5px;
  font-size:1rem;
  align-items: center;
  justify-content: center;
  border:0;
  background: #faa2c1;
  color:white;
}